body {
    width: 1024px;
    margin: 1em auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

#loading{
    position: relative;
    top: 200px;
    width: 100%;
}

.termostato {
	border: 2px solid gray;
	border-radius: 1em;
	background: -webkit-linear-gradient(top, #E4E4E4, #BBBABB);
    background:    -moz-linear-gradient(top, #E4E4E4, #BBBABB);
    background:     -ms-linear-gradient(top, #E4E4E4, #BBBABB);
    background:      -o-linear-gradient(top, #E4E4E4, #BBBABB);
    background:        -linear-gradient(top, #E4E4E4, #BBBABB);
	text-align:justify;
	padding: 2em;
    height: 653px;
}
.lcd {
	position: relative;
	top: 1em;
	border-radius: 20px;
	background: #EDEDED;
	vertical-align: middle;
	padding: 2em;
}
.lcdtxt{
    position: relative;
    top: 6px;
	text-align: center;
	line-height: 40px;
	font-family: monospace;
	font-size: 40px;
	color: green;
}
#sparkline{
	position: relative;
	padding-left: 8%;
	padding-right: 0px;
	top: -0.5em;
}
#slider-vertical {
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#slider {
    height: 200px;
    float: left;
    margin: 3px;
}

.ui-slider .ui-slider-handle {
    /*width: 11px;*/
    text-align: center;
}

.ui-slider-vertical {
    position: relative;
/*    left: 10px;
    width: 4px;    */
}

#numeri {
    font-size: 10px;
    /*margin-left: 4px;*/
}

.hidden{
    visibility: hidden;
}
